body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
h1 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  white-space: nowrap;
  background-image: linear-gradient(4deg, #730ce9, #16cbf4, rgb(135, 26, 230));
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
button {
  padding: 15px 20px;
  border-radius: 10px;
  color: white;
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  width: 250px;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(45deg, #03404b, #040a30);
}
td:last-child {
  display: flex;
}
td :is(a, button) {
  margin-left: 2px;
  padding: 10px;
  width: max-content;
  text-decoration: underline;
  margin-top: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  background-image: linear-gradient(45deg, #03404b, #040a30);
}
label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  padding: 5px;
  color: #16cbf4;
  border-radius: 10px;
}
input {
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

/* ---------------------------------------------------- */
/* .input-file {
  width: 400px;
  height: 150px;
  position: relative;
}

.input-label {
  border-radius: 8px;
  border: 2px solid rgb(63, 63, 63);
  display: flex;
  color: #333;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  cursor: pointer;
}

.input-file input[type="file"] {
  display: none;
}

.input-file .icon-upload {
  color: #ccc;
  font-size: 3rem;
  pointer-events: none;
} */
